.top-body {
  background-color: #89abe3;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.top-cards-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
